<nav class="menu">
  <ul>
    <li (click)="selected('home')" [ngClass]="{ 'icon-button': true, 'selected': buttons.home  == true}">
      <a class='link' active routerLink="/home" >
        <span><img class="icon" src="../../../assets/home.svg" alt="Inicio"> Inicio</span>
      </a>
    </li>

    <li (click)="selected('process')" [ngClass]="{ 'icon-button': true, 'selected': buttons.process == true}">
      <a class='link' routerLink="/process">
        <img class="icon" src="../../assets/flowchart.svg" alt="Diagrama">
        <span>Processos</span>
      </a>
    </li>
    
    <li (click)="selected('registerInput')" [ngClass]="{ 'icon-button': true, 'selected': buttons.registerInput  == true}">
      <a class='link'  routerLink="registerInput">
        <img class="icon" src="../../assets/register.svg" alt="Resgistrar Materiais">
        <span>Registrar Materiais</span>
      </a>
    </li>
    
    <li (click)="selected('billofmaterial')" [ngClass]="{ 'icon-button': true, 'selected': buttons.billofmaterial  == true}">
      <a class='link'  routerLink="/billofmaterial">
        <img class="icon" src="../../assets/list.svg" alt="Lista técnica">
        <span>Lista técnica</span>
      </a>
    </li>

    <li (click)="selected('resume')" [ngClass]="{ 'icon-button': true, 'selected': buttons.resume  == true}">
      <a class='link'  routerLink="/resume">
        <img class="icon" src="../../assets/paid.svg" alt="Resumo">
        <span>Resumo</span>
      </a>
    </li>
  </ul>
</nav>
